    # Entorns virtuals
 	venv/
 	.venv/

 	# Fitxers temporals de Python
 	__pycache__/
 	*.py[cod]

 	# Fitxers de l'editor
 	.vscode/

 	# Fitxers del sistema
 	.DS_Store
 	Thumbs.db

 	# Fitxers d'entorn
 	.env